<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="SupervisorMasterPage.master.cs" Inherits="Logic_University_Stationary.Supervisor.SupervisorMasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
  <title>Logic University</title>
    <link rel="Stylesheet" type="text/css" href="../Styles/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../Styles/theme.css" />
    <link href="../Styles/templatemo_style.css" rel="stylesheet" type="text/css" />
    <link href="../Styles/s3slider.css" rel="stylesheet" type="text/css" />
<!-- JavaScripts-->
<script type="../text/javascript" src="../js/jquery.js"></script>

</head>
<body>

<div id="templatemo_wrapper">

	<div id="templatemo_menu">
                
        <ul>
            <li><a href="SupervisorWelcome.aspx">Home</a></li>
            <li><a href="supervisor_contactus.aspx">Contact Us</a></li>
            <li><a href="../Logout.aspx">Logout</a></li>
        </ul>
    
    </div> <!-- end of templatemo_menu -->

    <div id="templatemo_left_column">
    
        <div id="templatemo_header">
        
            <div id="site_title">
                <h1><a href="http://www.templatemo.com" target="_parent">Logic <strong>University</strong><span>Stationery Department</span></a></h1>
            </div><!-- end of site_title -->
            
        </div> <!-- end of header -->  
        
        <div id="templatemo_sidebar">
            
            <h4>Dashboard</h4>
            <ul class="templatemo_list">
                <li><a href="ConsolidateStationaryRequisition.aspx" target="_parent">Consolidate Requisition& Produce Stationery Retrieval Form</a></li>
                <li><a href="DisbusementListAllDepartment.aspx" target="_parent">Produce Disbursement List</a></li>
                <li><a href="ListOfItemsBelowReorderLevel.aspx" target="_parent">Generate Purchase Order</a></li>
                <li><a href="OutstandingRequisitionList.aspx" target="_parent">Track & Fullfill Outstanding Requestion</a></li>
                <li><a href="UpdateStock.aspx" target="_parent">Stock Card</a></li>
            </ul>
            
            <div class="cleaner_h40"></div>
            
          
        </div> <!-- end of templatemo_sidebar --> 
    
    </div> <!-- end of templatemo_left_column -->
   
    <div id="templatemo_right_column">
    
         <img src="../images/Logic University.jpg" alt="image 1" width="95%" />
        
  <div class="cleaner"></div>
  
  </div> 
  <div id="templatemo_main">
        
           <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server"> </asp:ContentPlaceHolder>
                 
        </div>
    <!-- end of templatemo_main -->
  <div class="cleaner_h20"></div>
  
  	<div id="templatemo_footer">
    
		Copyright Â© TEAM-2 <a href="#">Logic University Project</a> | 
       
    </div>
  
    <div class="cleaner"></div>
</div> <!-- end of warpper -->
<asp:ContentPlaceHolder ID="content" runat="server"></asp:ContentPlaceHolder>
</body>
</html>

